<%= simple_form_for(@asset) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :model_number %>
    <%= f.input :serial_number %>
    <%= f.input :asset_number %>
    <%= f.input :purchase_date %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
