<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @asset.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @asset.description %>
</p>

<p>
  <strong>Model number:</strong>
  <%= @asset.model_number %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @asset.serial_number %>
</p>

<p>
  <strong>Asset number:</strong>
  <%= @asset.asset_number %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @asset.purchase_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @asset.active %>
</p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
